.table{
    border-bottom:1px solid rgb(222, 226, 230);
}

.table thead th {
    vertical-align: bottom;
     border-bottom: 0 !important; 
     font-size: 13px;
     cursor: pointer;
}
.table thead th:not(:nth-child(1)),.table td:not(:nth-child(1)) {
   text-align:center
}

