.badge-doing.badge-secondary {
    color: #fff;
    background-color: #f0962f !important;
}
.badge-date.badge-danger {
    background-color: white !important;
    color: #dc3545;
    border: 1px solid #dc3545 !important;
}
.badge-date.badge-success {
    background-color: white !important;
    color: #43a11e;
    border: 1px solid #43a11e !important;
}