$font_Robrto: "Roboto", sans-serif;

body{
    font-family: $font_Robrto !important;
    overflow-x: hidden;
}
svg{
    cursor: pointer;
}

.box-shadow{
    width: calc(100% - 20rem);
    height: 100vh;
    background-color: #1b1a1a;
    position: absolute;
    top: 0;
    opacity: 0;
    display: none;
    transition: all 0.2s ease;
}
.show-box{
    opacity: 0.5;
    display: block;
}
